* {
  font-family: 'Roboto Slab', serif;
  background-color: #99eece;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

header {
  text-align: center;
}

.header-logo h1 {
  font-size: 36px;
  background-color: rgba(000, 000, 000, 0.3);
  color: white;
}

header h2 {
  font-size: 20px;
  font-weight: 100;
  margin: 20px 0px 50px 0px;
}

.list {
  text-align: center;
  width: 1400px;
  margin: 0px auto;
  padding: 0px 0px 0px 100px;
}

.bean {
  background-color: rgba(0, 0, 0, 0.3);
  float: left;
  width: 20%;
  margin: 0px 20px 100px 20px;
  height: 400px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.bean-icon {
  display: inline-block;
  height: 150px;
}

.bean-icon img {
  margin: 10px;
  height: 100%;
}

.bean * {
  background-color: rgba(0, 0, 0, 0);
}

.bean a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.bean-name {
  font-size: 20px;
  font-weight: bold;
}