body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

/* btnクラスのCSSを指定してください */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}


/* signupクラスのCSSを指定してください */
.signup {
  background-color: #239b76;
}


/* facebookクラスのCSSを指定してください */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}


/* twitterクラスのCSSを指定してください */
.twitter {
  background-color: #55acee;
}


/* btn-wrapperクラスのCSSを指定してください */
.btn-wrapper {
  margin: 20px;
}


/* btn-wrapperクラスの中にある<p>のCSSを指定してください */
.btn-wrapper p {
  margin: 10px;
}

